Debug/
Release/
*.elf
*.hex
*.bin
*.map
*.list
*.o
*.d
*.su
*.cyclo
default.size.stdout
objects.list
.venv/
.pytest_cache/
__pycache__/
telemetry/*.sqlite3
telemetry/*.sqlite3-shm
telemetry/*.sqlite3-wal
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
